{% extends 'StudyPoint/base.html' %}
{% load staticfiles %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/Firstyear/home.css' %}">
{% endblock %}
{% block headerdesign %}
<header class="container-fluid custom-head">
    <h1 class="title-class1">VNIT STUDYPOINT </h1><br>
    <h2>FIRST YEAR</h2>
</header>
{%  endblock %}
{% block body %}
<br><center>
<div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>
<div class="container-fluid streambox">
    <div class="row">
        <div class="col stream">
            <div class="heading">
                <h3>PHYSICS STREAM</h3>
            </div>
            <a href='physicssem'><img src="{% static 'IMAGES/physics.jpg' %}" class="stream-img"></a>
            <div class="menu">
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link" href='em'>Engineering Mechanics</a></li>
                  <li class="menu-item"><a class="menu-link" href='ed'>Engineering Drawing</a> </li>
                  <li class="menu-item"><a class="menu-link" href='maths'>Mathematics</a> </li>
                  <li class="menu-item"><a class="menu-link" href='physics'>Physics</a> </li>
                  <li class="menu-item"><a class="menu-link" href='cs'>Communication Skill</a> </li>

                </ul>
            </div>
        </div>
         <div class="col stream">
            <div class="heading">
                <h3>CHEMISTRY STREAM</h3>
            </div>
            <a href='chemistrysem'><img src="{% static 'IMAGES/chem.jpg' %}" class="stream-img"></a>
             <div class="menu">
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link" href='ee'>Electrical Engineering</a></li>
                  <li class="menu-item"><a class="menu-link" href='cp'>Computer Programming</a> </li>
                  <li class="menu-item"><a class="menu-link" href='maths'>Mathematics</a> </li>
                  <li class="menu-item"><a class="menu-link" href='chemistry'>Chemistry</a> </li>
                  <li class="menu-item"><a class="menu-link" href='ss'>Social Science</a> </li>

                </ul>
            </div>
        </div>
    </div>
</div>
</center>
<br><br><br>
{% endblock %}